/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/resources/public/js
/public/js
/public/css
/out
/.repl
*.log
/.env
deploy
quick-deploy
*.iml
/node_modules
.cpcache
.shadow-cljs
package-lock.json
