{:deps     true

 :builds   {:app {:target     :browser
                  :output-dir "public/js"
                  :asset-path "/js"
                  :modules    {:app {:entries [story-discovery-frontend.core]}}
                  :devtools   {:after-load story-discovery-frontend.core/mount-root}}}

 :dev-http {3001 {:root    "public"
                  :handler user/app}}

 :nrepl    {:port 8000}}